<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div class="container" id="app">
      <table class="table is-striped">
        <thead>
          <tr>
            <th>No. </th>
            <th>Title</th>
            <th>Vote</th>
            <th>Tools</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(post, index) in posts">
              <td>{{ index +1 }}</td>
              <td>{{ post.title }}</td>
              <td>{{ post.votes }}</td>
              <td>
                <button class="button is-success" v-on:click="upvoted(post.id)">Vote</button>
              </td>
          </tr>
        </tbody>
      </table>
      <nav class="pagination">
        <ul class="pagination-list">
          <li v-for="n in pageInfo.pageRange">
              <a class="pagination-link" 
                v-bind:class="{ 'is-current': activePage == n - 1 }"
                v-on:click="paging(limit * (n - 1), n - 1)"
              >{{ n }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <script type="text/javascript" src="./dist/bundle.js"></script>
</body>
</html>